<!DOCTYPE html>
<html>
	<head>
		<title>{{ post.title }}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}/static/css/style.css">
	</head>
	<body>
		<div class="header">
			<div class = "article_img">
				<img src="{{ STATIC_URL}}/static/img/logo1.jpg"/>
			</div>	
			<h3><a href = "{% url 'home' %}"> Все статьи </a></h3>
		</div>
			<div class = "article">
				<div class="one-post">
					<h2 class="post-title">{{ post.title }}</h2>
					<div class="article-info">
						<div class="article-author">{{ post.author.username}}</div>
						<div class="article-created-date">{{ post.created_date}}</div>
					</div>
					<p class="article-text">{{ post.get_full_excerpt }}</p>
				</div>
			</div>
	</body>
</html>